<ion-header>
  <ion-toolbar>
    <ion-title>Lista de sites dos usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="sites.length > 0 else na">
    <ion-item *ngFor="let site of sites">
      <ion-label>{{ site }}</ion-label>
    </ion-item>
  </ion-list>

  <ng-template #na>
    <ion-card>
      <ion-card-content>
        Infelizmente não temos dados disponíveis no momento, tente novamente em alguns minutos.
      </ion-card-content>
    </ion-card>    
  </ng-template>

</ion-content>
