<ion-header>
  <ion-toolbar>
    <ion-title>Dados das empresas ordenado por nome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="users.length > 0 else na">
    <ion-item *ngFor="let user of users">
      <ion-label>Nome: {{ user.name }}</ion-label>
      <ion-label>Email: {{ user.email }}</ion-label>
      <ion-label>Company: {{ user.company.name }}</ion-label>
    </ion-item>
  </ion-list>

  <ng-template #na>
    <ion-card>
      <ion-card-content>
        Infelizmente não temos dados disponíveis no momento, tente novamente em alguns minutos.
      </ion-card-content>
    </ion-card>    
  </ng-template>

</ion-content>