<ion-header>
  <ion-toolbar>
    <ion-title>Enredeços que contém a palavra suite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="suites.length > 0 else na">
    <ion-item *ngFor="let suite of suites">
      <ion-label>Nome: {{ suite.name }}</ion-label>
      <ion-label>Endereço: {{ suite.address.suite }}</ion-label>
    </ion-item>
  </div>

  <ng-template #na>
    <ion-card>
      <ion-card-content>
        Infelizmente não temos dados disponíveis no momento, tente novamente em alguns minutos.
      </ion-card-content>
    </ion-card>
  </ng-template>

</ion-content>